<div class="container">
  <header class="jumbotron">


    <div *ngIf="loginSuccess">
      <div class="list row">
        <div class="col-md-8">
          <div class="input-group mb-3">
            <input
              type="text"
              class="form-control"
              placeholder="Search by Title"
              [(ngModel)]="title"
            />
            <div class="input-group-append">
              <button
                class="btn btn-outline-secondary"
                type="button"
                (click)="searchTitle()"
              >
                Search
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <h4>Topics List</h4>
          <ul class="list-group">
            <li
              class="list-group-item"
              *ngFor="let crud of cruds; let i = index"
              [class.active]="i == currentIndex"
              (click)="setActiveCrud(crud, i)"
            >
              {{ crud.title }}
            </li>
          </ul>
      
          <button class="m-3 btn btn-sm btn-danger" (click)="removeAllCruds()">
            Remove All
          </button>
        </div>
        <div class="col-md-6">
          <div *ngIf="currentCrud">
            <h4>Topic</h4>
            <div>
              <label><strong>Title:</strong></label> 
              {{ currentCrud.title }}
            </div>
            <div>
              <label><strong>Description:</strong></label>
              <div class="break-word-container">{{ currentCrud.description }}</div>
            </div>
            <br>
            <div>
              <label><strong>Created by:</strong></label> 
              {{ currentCrud.username }}
            </div>
            <div>
              <label><strong>Created At:</strong></label>
              {{ currentCrud.createdAt | date:'dd-MM-yy HH:mm:ss' }}
            </div>
            <div>
              <label><strong>Updated At:</strong></label>
              {{ currentCrud.updatedAt | date:'dd-MM-yy HH:mm:ss'}}
            </div>
            <div>
              <label><strong>Status:</strong></label>
              {{ currentCrud.published ? "Published" : "Pending" }}
            </div>
      
            <a class="badge badge-warning" routerLink="/user/cruds/{{ currentCrud.id }}">
              Edit
            </a>
          </div>
      
          <div *ngIf="!currentCrud">
            <br />
            <p>Please click on a Topic...</p>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="loginFail">
      Please login first!
    </div>


</header>
</div>
