.list {
    text-align: left;
    max-width: 750px;
    margin: auto;
  }

  
  .break-word-container {
    display: table;
    table-layout: fixed;
    width: 100%;
    word-wrap: break-word;
    white-space: pre-wrap;

}
