<div class="container">
  <header class="jumbotron">

    <div *ngIf="loginSuccess">
<div>
    <div class="submit-form">
      <div *ngIf="!submitted">
        <div class="form-group">
          <label for="title">Title</label>
          <input
            type="text"
            class="form-control"
            id="title"
            required
            [(ngModel)]="crud.title"
            name="title"
          />
        </div>
  
        <div class="form-group">
          <label for="description">Description</label>
          <textarea
            class="form-control"
            id="description"
            required
            [(ngModel)]="crud.description"
            name="description"
          ></textarea>
        </div>
  
        <button (click)="saveCrud()" class="btn btn-success">Submit</button>
      </div>
  
      <div *ngIf="submitted">
        <h4>Crud was submitted successfully!</h4>
        <button class="btn btn-success" (click)="newCrud()">Add</button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="loginFail">
  Please login first!
</div>

  
</header>
</div>
