

<div class="container" *ngIf="currentUser; else loggedOut">
    <header class="jumbotron">
      <h3>
        <strong>{{ currentUser.username }}</strong> Profile
      </h3>
    </header>
    <p>
      <strong>Name:</strong>
      {{ currentUser.username }}
    </p>
    <p>
      <strong>Email:</strong>
      {{ currentUser.email }}
    </p>
    <p>
      <strong>Content:</strong>
      {{ currentUser.profilecontent }}
    </p>
    <div *ngIf="currentUser.id" class="edit-form">

    <form>
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          id="profilecontent"
          [(ngModel)]="currentUser.profilecontent"
          name="profilecontent"
        />
      </div>
      <p>{{ message }}</p>
      </form>
      <button
      type="submit"
      class="badge badge-success mb-2"
      (click)="updateProfile()">
      Update
    </button>
  </div>
  
    <br>
    <strong>Roles:</strong>
    <ul>
      <li *ngFor="let role of currentUser.roles">
        {{ role }}
      </li>
    </ul>

</div>
  <ng-template #loggedOut>
    Please login.
  </ng-template>
  