.container-fluid .btn-signup {
    position: absolute;
    top: 90%;
    left: 15%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 24px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }

  .container-fluid .btn-login {
    position: absolute;
    top: 90%;
    left: 40%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 24px;
    padding: 20px 72px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }

  .container-fluid .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 98%;
  }

