
<div class="container-fluid">
  
<img class="center" src="https://upload.cc/i1/2021/05/15/YpX0uG.png" alt="Trulli" width="95%" height="100%">


  <!--<header class="jumbotron">
    <p>{{ content }}</p>    
  </header>-->
  </div>
  